<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trust_time.Happy_Birthday %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @trust_time.notes %>
</p>

<p>
  <strong>Date:</strong>
  <%= @trust_time.birthdate %>
</p>

<p>
  <strong>Done:</strong>
  <%= @trust_time.done %>
</p>

<%= link_to 'Edit', edit_trust_time_path(@trust_time) %> |
<%= link_to 'Back', trust_times_path %>
